# For running the tests
BASE_URL="http://localhost:8080"

# Duration of test
TEST_DURATION="120s"

# Number of virtual users (threads)
TEST_VUS="20"

# Sleep delay between requests
TEST_SLEEP="0.1"

# Force to run a single user, one iteration, like an end to end test
TEST_ONE_ITER="false"